ip_uicds_core-master/em/xmlbeans-em/src/main/xsd/external/ipaws/2.0.0/edxlRequest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
     xmlns:req="http://gov.fema.dmopen.services/edxlrequest" 
     elementFormDefault="qualified" 
     targetNamespace="http://gov.fema.dmopen.services/edxlrequest">
    <xsd:complexType name="requestParameterList">
        <xsd:sequence>
            <xsd:element name="requestAPI" minOccurs="0" type="xsd:string"/>
            <xsd:element name="requestOperation" minOccurs="0" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameters" type="req:parameterListItem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="parameterListItem">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="parameterName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="comparisonOp" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameterValue" type="xsd:string"/>
            <xsd:element minOccurs="0" name="logicalOp" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
