ip_uicds_core-master/em/xmlbeans-em/src/main/xsd/external/ipaws/2.0.0/edxlResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
     xmlns:resp="http://gov.fema.dmopen.services/edxlresponse" 
     elementFormDefault="qualified" 
     targetNamespace="http://gov.fema.dmopen.services/edxlresponse">
    <xsd:complexType name="responseParameterList">
        <xsd:sequence>
            <xsd:element name="parameterListItem" type="resp:parameterListItem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ResponseOperation" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ResponseType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="parameterListItem">
        <xsd:sequence>
            <xsd:element name="parameterName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parameterValue" type="xsd:string" minOccurs="0"/>
            <xsd:element name="subParaListItem" maxOccurs="unbounded" minOccurs="0" type="resp:subParameterListItem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="subParameterListItem">
        <xsd:sequence>
            <xsd:element name="subParameterName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="subParameterValue" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
