ip_uicds_core-master/em/xmlbeans-em/src/main/xsd/external/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:nga="http://niem.gov/niem/nga/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:iso_3166="http://niem.gov/niem/iso_3166/2.0">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../iso_3166/2.0/iso_3166.xsd" namespace="http://niem.gov/niem/iso_3166/2.0"/>
  <xsd:import schemaLocation="../../nga/2.0/nga.xsd" namespace="http://niem.gov/niem/nga/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../unece_rec20-misc/2.0/unece_rec20-misc.xsd" namespace="http://niem.gov/niem/unece_rec20-misc/2.0"/>
  <xsd:import schemaLocation="../../usps_states/2.0/usps_states.xsd" namespace="http://niem.gov/niem/usps_states/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ActivityDisposition" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AngularMinuteSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxExclusive value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AngularMinuteType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:AngularMinuteSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AngularSecondSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxExclusive value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AngularSecondType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:AngularSecondSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AreaType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AreaPolygonDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:AreaPolygonGeographicCoordinate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:AreaCircularDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:AreaCircularRegion" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CapabilityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:CapabilityGeneralCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:CapabilityCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:CapabilityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:CapabilityIsLimitationIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CircularRegionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:CircularRegionCenterCoordinate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:CircularRegionRadiusLengthMeasure" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactRadioType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactRadioCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactRadioChannelText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactRadioCallSignID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossStreetType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:CrossStreetDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:CrossStreetRelativeLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DispositionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HighwayType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="nc:IncidentLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IncidentEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IncidentJurisdictionalOrganization" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:IncidentObservationText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InstantMessengerType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:InstantMessengerClientName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:InstantMessengerScreenID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InternationalTelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneCountryCodeID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneNumberID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LatitudeCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LatitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LatitudeMinuteValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LatitudeSecondValue" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LatitudeDegreeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="90"/>
      <xsd:minInclusive value="-90"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LatitudeDegreeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:LatitudeDegreeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:LengthUnitCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationArea" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCrossStreet" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationHighway" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationMapLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationMGRSCoordinate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationSurroundingAreaDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationTwoDimensionalGeographicCoordinate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationUTMCoordinate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LongitudeCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LongitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LongitudeMinuteValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LongitudeSecondValue" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LongitudeDegreeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxExclusive value="180"/>
      <xsd:minInclusive value="-180"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LongitudeDegreeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:LongitudeDegreeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MGRSCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="UTMCoordinateType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:UTMCoordinateType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MapLocationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:MeasureUnitText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:MeasureCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:MeasureEstimatedIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MetadataType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="MetadataType"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
        <i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:MetadataType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NANPTelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneAreaCodeID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneExchangeID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneLineID" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationAbbreviationText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationActivityText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationEmergencyContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationParent" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationPrincipalOfficial" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationStatus" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationSubUnit" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationSubUnitName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:OrganizationTaxIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonMaidenName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute ref="nc:personNameCommentText" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonCapability" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="RelativeLocationHeadingSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxExclusive value="360"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="RelativeLocationHeadingType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:RelativeLocationHeadingSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RelativeLocationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:RelativeLocationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RelativeLocationDirection" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RelativeLocationDistanceText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RelativeLocationHeadingValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:RelativeLocationReferencePoint" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusDate" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StatusIssuerIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRecipientName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TwoDimensionalGeographicCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:GeographicDatumCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:GeographicCoordinateLatitude" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:GeographicCoordinateLongitude" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UTMCoordinateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:attribute name="personNameCommentText" type="xsd:string"/>
  <xsd:element name="ActivityCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element substitutionGroup="nc:ActivityDateRepresentation" name="ActivityDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true"/>
  <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ActivityDisposition" type="nc:DispositionType" nillable="true"/>
  <xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="ActivityName" type="nc:TextType" nillable="true"/>
  <xsd:element name="ActivityReasonText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true"/>
  <xsd:element name="AddressDeliveryPoint" abstract="true"/>
  <xsd:element substitutionGroup="nc:AddressRepresentation" name="AddressFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRecipientName" type="nc:TextType" nillable="true"/>
  <xsd:element name="AddressRepresentation" abstract="true"/>
  <xsd:element name="AreaCircularDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="AreaCircularRegion" type="nc:CircularRegionType" nillable="true"/>
  <xsd:element name="AreaPolygonDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="AreaPolygonGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true"/>
  <xsd:element name="CapabilityCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CapabilityDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CapabilityGeneralCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CapabilityIsLimitationIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element name="CircularRegionCenterCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true"/>
  <xsd:element name="CircularRegionRadiusLengthMeasure" type="nc:LengthMeasureType" nillable="true"/>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactEmailID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactInstantMessenger" type="nc:InstantMessengerType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactMailingAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true"/>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactRadio" type="nc:ContactRadioType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactRadioCallSignID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="ContactRadioCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="ContactRadioChannelText" type="nc:TextType" nillable="true"/>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactTelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactWebsiteURI" type="niem-xsd:anyURI" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrossStreetDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="CrossStreetRelativeLocation" type="nc:RelativeLocationType" nillable="true"/>
  <xsd:element name="DateRepresentation" abstract="true"/>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="DateTime" type="niem-xsd:dateTime" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:TelephoneNumberRepresentation" name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true"/>
  <xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true"/>
  <xsd:element name="GeographicDatumCode" type="nga:DatumCodeType" nillable="true"/>
  <xsd:element name="IdentificationCategory" abstract="true"/>
  <xsd:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element substitutionGroup="nc:IdentificationCategory" name="IdentificationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="IdentificationJurisdiction" abstract="true"/>
  <xsd:element substitutionGroup="nc:IdentificationJurisdiction" name="IdentificationJurisdictionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IncidentEvent" type="nc:ActivityType" nillable="true"/>
  <xsd:element name="IncidentJurisdictionalOrganization" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="IncidentLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="IncidentObservationText" type="nc:TextType" nillable="true"/>
  <xsd:element name="InstantMessengerClientName" type="nc:TextType" nillable="true"/>
  <xsd:element name="InstantMessengerScreenID" type="niem-xsd:string" nillable="true"/>
  <xsd:element substitutionGroup="nc:TelephoneNumberRepresentation" name="InternationalTelephoneNumber" type="nc:InternationalTelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true"/>
  <xsd:element name="LatitudeMinuteValue" type="nc:AngularMinuteType" nillable="true"/>
  <xsd:element name="LatitudeSecondValue" type="nc:AngularSecondType" nillable="true"/>
  <xsd:element name="LengthUnitCode" type="unece:LengthCodeType" nillable="true"/>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true"/>
  <xsd:element name="LocationArea" type="nc:AreaType" nillable="true"/>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true"/>
  <xsd:element name="LocationContactInformation" type="nc:ContactInformationType" nillable="true"/>
  <xsd:element name="LocationCountry" abstract="true"/>
  <xsd:element substitutionGroup="nc:LocationCountry" name="LocationCountryISO3166Alpha2Code" type="iso_3166:CountryAlpha2CodeType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true"/>
  <xsd:element substitutionGroup="nc:LocationCounty" name="LocationCountyName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCrossStreet" type="nc:CrossStreetType" nillable="true"/>
  <xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="LocationHighway" type="nc:HighwayType" nillable="true"/>
  <xsd:element name="LocationMGRSCoordinate" type="nc:MGRSCoordinateType" nillable="true"/>
  <xsd:element name="LocationMapLocation" type="nc:MapLocationType" nillable="true"/>
  <xsd:element name="LocationName" type="nc:ProperNameTextType" nillable="true"/>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="LocationState" abstract="true"/>
  <xsd:element substitutionGroup="nc:LocationState" name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:AddressDeliveryPoint" name="LocationStreet" type="nc:StreetType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationSurroundingAreaDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true"/>
  <xsd:element name="LocationUTMCoordinate" type="nc:UTMCoordinateType" nillable="true"/>
  <xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true"/>
  <xsd:element name="LongitudeMinuteValue" type="nc:AngularMinuteType" nillable="true"/>
  <xsd:element name="LongitudeSecondValue" type="nc:AngularSecondType" nillable="true"/>
  <xsd:element name="MeasureCategoryText" type="nc:TextType" nillable="true"/>
  <xsd:element name="MeasureEstimatedIndicator" type="niem-xsd:boolean" nillable="true"/>
  <xsd:element substitutionGroup="nc:MeasureValue" name="MeasurePointValue" type="nc:MeasurePointValueType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureUnitText" type="nc:TextType" nillable="true"/>
  <xsd:element name="MeasureValue" abstract="true"/>
  <xsd:element substitutionGroup="nc:TelephoneNumberRepresentation" name="NANPTelephoneNumber" type="nc:NANPTelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationAbbreviationText" type="nc:TextType" nillable="true"/>
  <xsd:element name="OrganizationActivityText" type="nc:TextType" nillable="true"/>
  <xsd:element name="OrganizationDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="OrganizationEmergencyContactInformation" type="nc:ContactInformationType" nillable="true"/>
  <xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="OrganizationLocation" type="nc:LocationType" nillable="true"/>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true"/>
  <xsd:element name="OrganizationParent" abstract="true"/>
  <xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true"/>
  <xsd:element name="OrganizationPrincipalOfficial" type="nc:PersonType" nillable="true"/>
  <xsd:element name="OrganizationStatus" type="nc:StatusType" nillable="true"/>
  <xsd:element name="OrganizationSubUnit" type="nc:OrganizationType" nillable="true"/>
  <xsd:element name="OrganizationSubUnitName" type="nc:TextType" nillable="true"/>
  <xsd:element name="OrganizationTaxIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="PersonCapability" type="nc:CapabilityType" nillable="true"/>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonMaidenName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true"/>
  <xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true"/>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true"/>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true"/>
  <xsd:element name="RelativeLocationDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="RelativeLocationDirection" abstract="true"/>
  <xsd:element name="RelativeLocationDistanceText" type="nc:TextType" nillable="true"/>
  <xsd:element name="RelativeLocationHeadingValue" type="nc:RelativeLocationHeadingType" nillable="true"/>
  <xsd:element name="RelativeLocationReferencePoint" type="nc:LocationType" nillable="true"/>
  <xsd:element name="StatusDate" type="nc:DateType" nillable="true"/>
  <xsd:element name="StatusDescriptionText" type="nc:TextType" nillable="true"/>
  <xsd:element name="StatusIssuerIdentification" type="nc:IdentificationType" nillable="true"/>
  <xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true"/>
  <xsd:element name="StreetNumberText" type="nc:TextType" nillable="true"/>
  <xsd:element substitutionGroup="nc:AddressRepresentation" name="StructuredAddress" type="nc:StructuredAddressType" nillable="true">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneAreaCodeID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="TelephoneCountryCodeID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="TelephoneExchangeID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="TelephoneLineID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="TelephoneNumberID" type="niem-xsd:string" nillable="true"/>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true"/>
  <xsd:element name="TelephoneSuffixID" type="niem-xsd:string" nillable="true"/>
</xsd:schema>
